@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,600,&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 256px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.9rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 60.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.button {
  display: inline-flex;
  padding: 0px 0px;
}
.button._fw {
  width: 100%;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  margin-bottom: 100px;
}
.header__button {
  margin-left: auto;
  padding: 17px 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  background: #d75a00;
  border-radius: 5px;
}
@media (any-hover: hover) {
  .header__button:hover {
    background: #f3751a;
  }
}

.top-header {
  min-height: 110px;
}
@media (max-width: 49.599em) {
  .top-header {
    justify-content: space-between;
  }
}
.top-header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .top-header__container {
    border-bottom: 2px solid #0076a8;
  }
}
.top-header__logo {
  padding-top: 10px;
}
@media (max-width: 49.599em) {
  @supports (margin-left: clamp( 0.5rem , -6.5rem  +  28vw , 7.5rem )) {
    .top-header__logo {
      margin-left: clamp( 0.5rem , -6.5rem  +  28vw , 7.5rem );
    }
  }
  @supports not (margin-left: clamp( 0.5rem , -6.5rem  +  28vw , 7.5rem )) {
    .top-header__logo {
      margin-left: calc(0.5rem + 7 * (100vw - 25rem) / 25);
    }
  }
}
@media (max-width: 600px) {
  @supports (margin-left: clamp( 0.75rem , -7.75rem  +  42.5vw , 5rem )) {
    .top-header__logo {
      margin-left: clamp( 0.75rem , -7.75rem  +  42.5vw , 5rem );
    }
  }
  @supports not (margin-left: clamp( 0.75rem , -7.75rem  +  42.5vw , 5rem )) {
    .top-header__logo {
      margin-left: calc(0.75rem + 4.25 * (100vw - 20rem) / 10);
    }
  }
}
@media (max-width: 435px) {
  .top-header__logo {
    margin-left: auto;
  }
}
.top-header__box {
  display: flex;
}
@supports (margin-left: clamp( 1rem , -13.1818181818rem  +  31.5151515152vw , 6.2rem )) {
  .top-header__box {
    margin-left: clamp( 1rem , -13.1818181818rem  +  31.5151515152vw , 6.2rem );
  }
}
@supports not (margin-left: clamp( 1rem , -13.1818181818rem  +  31.5151515152vw , 6.2rem )) {
  .top-header__box {
    margin-left: calc(1rem + 5.2 * (100vw - 45rem) / 16.5);
  }
}
.top-header__box span {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
@supports (margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem )) {
  .top-header__box-2 {
    margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem );
  }
}
@supports not (margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem )) {
  .top-header__box-2 {
    margin-left: calc(1.5rem + 2 * (100vw - 50rem) / 11.5);
  }
}
@media (any-hover: hover) {
  .top-header__box-2:hover {
    color: #f3751a;
  }
}
@supports (margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem )) {
  .top-header__box-3 {
    margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem );
  }
}
@supports not (margin-left: clamp( 1.5rem , -7.1956521739rem  +  17.3913043478vw , 3.5rem )) {
  .top-header__box-3 {
    margin-left: calc(1.5rem + 2 * (100vw - 50rem) / 11.5);
  }
}
@media (any-hover: hover) {
  .top-header__box-3:hover {
    color: #f3751a;
  }
}
@media (max-width: 49.599em) {
  .top-header__box-1, .top-header__box-2, .top-header__box-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 0;
    color: #fff;
  }
  @supports (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .top-header__box-1, .top-header__box-2, .top-header__box-3 {
      font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem );
    }
  }
  @supports not (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .top-header__box-1, .top-header__box-2, .top-header__box-3 {
      font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 46);
    }
  }
}
.top-header__box-4 {
  display: none;
}
@media (max-width: 49.599em) {
  .top-header__box-4 {
    display: inline;
  }
  @supports (margin-left: clamp( 0.1rem , -5.8rem  +  23.6vw , 6rem )) {
    .top-header__box-4 {
      margin-left: clamp( 0.1rem , -5.8rem  +  23.6vw , 6rem );
    }
  }
  @supports not (margin-left: clamp( 0.1rem , -5.8rem  +  23.6vw , 6rem )) {
    .top-header__box-4 {
      margin-left: calc(0.1rem + 5.9 * (100vw - 25rem) / 25);
    }
  }
}
@media (max-width: 600px) {
  .top-header__box-4 {
    display: none;
  }
}

.b-header {
  background: #0076a8;
}
.b-header__list {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .b-header__list {
    flex-direction: column;
    align-items: flex-start;
  }
  @supports (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .b-header__list {
      font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem );
    }
  }
  @supports not (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .b-header__list {
      font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 46);
    }
  }
}
.b-header__item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 992px) {
  .b-header__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 1100px) {
  .b-header__item-1 {
    display: none;
  }
}
.b-header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .b-header__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 992px) {
  .b-header__link {
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 21px;
  }
  @supports (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .b-header__link {
      font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem );
    }
  }
  @supports not (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .b-header__link {
      font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 46);
    }
  }
}

@media (max-width: 30em) {
  .header__but1 {
    margin-bottom: 20px;
  }
}
.header__but2 {
  background: #ffffff;
  color: #ff6b00;
  border: 2px solid #ff6b00;
  margin-left: 30px;
}
@media (any-hover: hover) {
  .header__but2:hover {
    background: #f3751a;
    color: #fff;
    border: 2px solid #ff6b00;
  }
}
@media (max-width: 28.5em) {
  .header__but2 {
    margin-left: 0;
  }
}

@supports (margin-top: clamp( 1.5rem , 0.4043478261rem  +  6.847826087vw , 4.65rem )) {
  .content-header {
    margin-top: clamp( 1.5rem , 0.4043478261rem  +  6.847826087vw , 4.65rem );
  }
}
@supports not (margin-top: clamp( 1.5rem , 0.4043478261rem  +  6.847826087vw , 4.65rem )) {
  .content-header {
    margin-top: calc(1.5rem + 3.15 * (100vw - 16rem) / 46);
  }
}
.content-header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 49.599em) {
  .content-header__container {
    flex-direction: column;
  }
}
.content-header__title {
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 18px;
}
@supports (font-size: clamp( 1.2rem , 0.8235294118rem  +  2.3529411765vw , 2rem )) {
  .content-header__title {
    font-size: clamp( 1.2rem , 0.8235294118rem  +  2.3529411765vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.2rem , 0.8235294118rem  +  2.3529411765vw , 2rem )) {
  .content-header__title {
    font-size: calc(1.2rem + 0.8 * (100vw - 16rem) / 34);
  }
}
.content-header__title span {
  font-weight: 500;
}
.content-header__subtitle {
  display: inline-block;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  background: #ff6b00;
  border-radius: 5px;
  padding: 8px 20px 8px 20px;
  margin-bottom: 18px;
}
@supports (font-size: clamp( 1.1rem , 0.8647058824rem  +  1.4705882353vw , 1.6rem )) {
  .content-header__subtitle {
    font-size: clamp( 1.1rem , 0.8647058824rem  +  1.4705882353vw , 1.6rem );
  }
}
@supports not (font-size: clamp( 1.1rem , 0.8647058824rem  +  1.4705882353vw , 1.6rem )) {
  .content-header__subtitle {
    font-size: calc(1.1rem + 0.5 * (100vw - 16rem) / 34);
  }
}
.content-header__text {
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 18px;
}
@supports (font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem )) {
  .content-header__text {
    font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem )) {
  .content-header__text {
    font-size: calc(1rem + 0.5 * (100vw - 16rem) / 34);
  }
}
.content-header__subtext {
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
@supports (font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem )) {
  .content-header__subtext {
    font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem );
  }
}
@supports not (font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem )) {
  .content-header__subtext {
    font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 34);
  }
}
@media (max-width: 49.599em) {
  .content-header__buttons {
    text-align: center;
  }
}
@supports (width: clamp( 15.625rem , -25.0892857143rem  +  85.7142857143vw , 30.625rem )) {
  .content-header__img {
    width: clamp( 15.625rem , -25.0892857143rem  +  85.7142857143vw , 30.625rem );
  }
}
@supports not (width: clamp( 15.625rem , -25.0892857143rem  +  85.7142857143vw , 30.625rem )) {
  .content-header__img {
    width: calc(15.625rem + 15 * (100vw - 47.5rem) / 17.5);
  }
}
@supports (height: clamp( 13.75rem , -28.6607142857rem  +  89.2857142857vw , 29.375rem )) {
  .content-header__img {
    height: clamp( 13.75rem , -28.6607142857rem  +  89.2857142857vw , 29.375rem );
  }
}
@supports not (height: clamp( 13.75rem , -28.6607142857rem  +  89.2857142857vw , 29.375rem )) {
  .content-header__img {
    height: calc(13.75rem + 15.625 * (100vw - 47.5rem) / 17.5);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 49.599em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 40px;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

@media (max-width: 49.599em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #2c7480;
    padding: 5rem 0.9375rem 3.125rem 0.9375rem;
    z-index: 4;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
@media (max-width: 49.599em) {
  .menu {
    display: flex;
    justify-content: flex-end;
  }
}

.footer {
  background: #0076a8;
}
.footer__list {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  @supports (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .footer__list {
      font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem );
    }
  }
  @supports not (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .footer__list {
      font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 46);
    }
  }
}
.footer__item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 992px) {
  .footer__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 1100px) {
  .footer__item-1 {
    display: none;
  }
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 992px) {
  .footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  @supports (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .footer__link {
      font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem );
    }
  }
  @supports not (font-size: clamp( 0.9rem , 0.7956521739rem  +  0.652173913vw , 1.2rem )) {
    .footer__link {
      font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 46);
    }
  }
}

.page {
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 950px) {
  .page {
    background-size: 200%;
  }
}
@media (max-width: 600px) {
  .page {
    background-size: 600%;
  }
}

@supports (margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem )) {
  .benefit {
    margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem );
  }
}
@supports not (margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem )) {
  .benefit {
    margin-bottom: calc(2.5rem + 5 * (100vw - 16rem) / 46);
  }
}
.benefit__box {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}
@supports (max-width: clamp( 40rem , 17.5rem  +  50vw , 50rem )) {
  .benefit__box {
    max-width: clamp( 40rem , 17.5rem  +  50vw , 50rem );
  }
}
@supports not (max-width: clamp( 40rem , 17.5rem  +  50vw , 50rem )) {
  .benefit__box {
    max-width: calc(40rem + 10 * (100vw - 45rem) / 20);
  }
}
.benefit__box::before {
  content: url("../img/benifit/wire.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  left: -14%;
  z-index: -2;
}
@media (max-width: 42.5em) {
  .benefit__box::before {
    display: none;
  }
}
.benefit__box::after {
  content: url("../img/benifit/scrue.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: -18%;
  right: -88%;
  z-index: 2;
}
@media (max-width: 42.5em) {
  .benefit__box::after {
    display: none;
  }
}
.benefit__title {
  text-align: center;
  font-weight: 500;
  line-height: 130%;
}
@supports (padding-top: clamp( 1.5rem , 0.7173913043rem  +  4.8913043478vw , 3.75rem )) {
  .benefit__title {
    padding-top: clamp( 1.5rem , 0.7173913043rem  +  4.8913043478vw , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.5rem , 0.7173913043rem  +  4.8913043478vw , 3.75rem )) {
  .benefit__title {
    padding-top: calc(1.5rem + 2.25 * (100vw - 16rem) / 46);
  }
}
@supports (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .benefit__title {
    font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .benefit__title {
    font-size: calc(1.1rem + 0.9 * (100vw - 16rem) / 34);
  }
}
.benefit__title::after {
  position: absolute;
  content: "";
  width: 30%;
  border-bottom: 2px solid #0076a8;
  left: 35%;
}
@supports (top: clamp( 4.5rem , 3.2826086957rem  +  7.6086956522vw , 8rem )) {
  .benefit__title::after {
    top: clamp( 4.5rem , 3.2826086957rem  +  7.6086956522vw , 8rem );
  }
}
@supports not (top: clamp( 4.5rem , 3.2826086957rem  +  7.6086956522vw , 8rem )) {
  .benefit__title::after {
    top: calc(4.5rem + 3.5 * (100vw - 16rem) / 46);
  }
}
.benefit__items {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 25em) {
  @supports (padding-left: clamp( 3rem , -5rem  +  50vw , 7.5rem )) {
    .benefit__items {
      padding-left: clamp( 3rem , -5rem  +  50vw , 7.5rem );
    }
  }
  @supports not (padding-left: clamp( 3rem , -5rem  +  50vw , 7.5rem )) {
    .benefit__items {
      padding-left: calc(3rem + 4.5 * (100vw - 16rem) / 9);
    }
  }
}
.benefit__item {
  margin-top: 30px;
  max-width: 180px;
  text-align: center;
  padding: 3px;
}
.benefit__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

@supports (margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem )) {
  .cart {
    margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem );
  }
}
@supports not (margin-bottom: clamp( 2.5rem , 0.7608695652rem  +  10.8695652174vw , 7.5rem )) {
  .cart {
    margin-bottom: calc(2.5rem + 5 * (100vw - 16rem) / 46);
  }
}
.cart__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.cart__title {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 15px;
}
@supports (font-size: clamp( 1.4rem , 1.1176470588rem  +  1.7647058824vw , 2rem )) {
  .cart__title {
    font-size: clamp( 1.4rem , 1.1176470588rem  +  1.7647058824vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.4rem , 1.1176470588rem  +  1.7647058824vw , 2rem )) {
  .cart__title {
    font-size: calc(1.4rem + 0.6 * (100vw - 16rem) / 34);
  }
}
.cart__subtitle {
  font-weight: 400;
  line-height: 120%;
}
@supports (font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem )) {
  .cart__subtitle {
    font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.7647058824rem  +  1.4705882353vw , 1.5rem )) {
  .cart__subtitle {
    font-size: calc(1rem + 0.5 * (100vw - 16rem) / 34);
  }
}
@supports (margin-bottom: clamp( 1.5rem , 0.4565217391rem  +  6.5217391304vw , 4.5rem )) {
  .cart__subtitle {
    margin-bottom: clamp( 1.5rem , 0.4565217391rem  +  6.5217391304vw , 4.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.5rem , 0.4565217391rem  +  6.5217391304vw , 4.5rem )) {
  .cart__subtitle {
    margin-bottom: calc(1.5rem + 3 * (100vw - 16rem) / 46);
  }
}
.cart__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  gap: 25px;
}
.cart__item {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
}
.cart__item-img {
  width: 100%;
}
.cart__item-title {
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 25px;
  text-align: center;
}
@supports (font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem )) {
  .cart__item-title {
    font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem );
  }
}
@supports not (font-size: clamp( 0.9rem , 0.7588235294rem  +  0.8823529412vw , 1.2rem )) {
  .cart__item-title {
    font-size: calc(0.9rem + 0.3 * (100vw - 16rem) / 34);
  }
}
.cart__item-list {
  margin-bottom: 20px;
  text-align: start;
}
.cart__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.cart__bottom {
  margin-bottom: 30px;
  width: 100%;
}

.input {
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input__container::before {
  content: url("../img/input/disk.svg");
  position: relative;
  width: 100%;
  height: 100%;
  top: -28px;
  left: -4%;
}
@media (max-width: 60em) {
  .input__container::before {
    display: none;
  }
}
.input__container::after {
  content: url("../img/input/flash.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  right: -81%;
  top: 78%;
}
@media (max-width: 60em) {
  .input__container::after {
    display: none;
  }
}
.input__title {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 25px;
}
@supports (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .input__title {
    font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .input__title {
    font-size: calc(1.1rem + 0.9 * (100vw - 16rem) / 34);
  }
}
@media (max-width: 1200px) {
  @supports (padding-top: clamp( 2.5rem , 1.6304347826rem  +  5.4347826087vw , 5rem )) {
    .input__title {
      padding-top: clamp( 2.5rem , 1.6304347826rem  +  5.4347826087vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 1.6304347826rem  +  5.4347826087vw , 5rem )) {
    .input__title {
      padding-top: calc(2.5rem + 2.5 * (100vw - 16rem) / 46);
    }
  }
}
.input__subtitle {
  max-width: 690px;
  text-align: center;
  font-weight: 400;
  line-height: 35px;
}
@supports (font-size: clamp( 0.9rem , 0.6176470588rem  +  1.7647058824vw , 1.5rem )) {
  .input__subtitle {
    font-size: clamp( 0.9rem , 0.6176470588rem  +  1.7647058824vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 0.9rem , 0.6176470588rem  +  1.7647058824vw , 1.5rem )) {
  .input__subtitle {
    font-size: calc(0.9rem + 0.6 * (100vw - 16rem) / 34);
  }
}
@supports (margin-bottom: clamp( 1rem , 0.3043478261rem  +  4.347826087vw , 3rem )) {
  .input__subtitle {
    margin-bottom: clamp( 1rem , 0.3043478261rem  +  4.347826087vw , 3rem );
  }
}
@supports not (margin-bottom: clamp( 1rem , 0.3043478261rem  +  4.347826087vw , 3rem )) {
  .input__subtitle {
    margin-bottom: calc(1rem + 2 * (100vw - 16rem) / 46);
  }
}
.input__subtitle span {
  font-weight: 500;
}
.input__items {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
@supports (margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem )) {
  .input__items {
    margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem );
  }
}
@supports not (margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem )) {
  .input__items {
    margin-bottom: calc(1.75rem + 0.25 * (100vw - 16rem) / 46);
  }
}
@media (max-width: 49.599em) {
  .input__items {
    flex-direction: column;
    gap: 20px;
  }
}
.input__int {
  padding: 15px 48px;
  border: 3px solid #ff6b00;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.input__button {
  margin: 0 auto;
}
.input__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 140px;
  text-align: center;
}
.swip {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  height: 100%;
  position: relative;
}
@media (max-width: 49.599em) {
  .swip {
    margin-top: -120px;
  }
}
.swip__container {
  padding-bottom: 100px;
}
.swip__title {
  padding-top: 120px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}
@supports (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .swip__title {
    font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .swip__title {
    font-size: calc(1.1rem + 0.9 * (100vw - 16rem) / 34);
  }
}
@supports (margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem )) {
  .swip__title {
    margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem );
  }
}
@supports not (margin-bottom: clamp( 1.75rem , 1.6630434783rem  +  0.5434782609vw , 2rem )) {
  .swip__title {
    margin-bottom: calc(1.75rem + 0.25 * (100vw - 16rem) / 46);
  }
}
.swip__slide {
  margin-bottom: 40px;
  padding: 20px 60px 30px 20px;
  display: flex;
  background-color: #ffffff;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
@media (max-width: 49.599em) {
  .swip__slide {
    flex-direction: column;
  }
}
.swip__content {
  padding-left: 20px;
}
.swip__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 15px;
}
.swip__work {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #aea4a4;
  margin-bottom: 15px;
}
.swip__review {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 15px;
}
.swip__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #aea4a4;
  margin-bottom: 2px;
}
.swip__cost {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.swip__btm {
  text-align: center;
  margin-top: 20px;
}

.rating_set {
  flex: 1 1 40%;
  flex-direction: column;
  margin-top: 30px;
}
.rating__data {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #aea4a4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.swiper-button-next img {
  margin-left: 55px;
  width: 35%;
}

.swiper-button-prev img {
  margin-right: 55px;
  width: 35%;
}

@supports (margin-top: clamp( 0.00000625rem , -1.3043394022rem  +  8.1521603261vw , 3.75rem )) {
  .map {
    margin-top: clamp( 0.00000625rem , -1.3043394022rem  +  8.1521603261vw , 3.75rem );
  }
}
@supports not (margin-top: clamp( 0.00000625rem , -1.3043394022rem  +  8.1521603261vw , 3.75rem )) {
  .map {
    margin-top: calc(0.00000625rem + 3.74999375 * (100vw - 16rem) / 46);
  }
}
@supports (margin-bottom: clamp( 1.875rem , 1.222826087rem  +  4.0760869565vw , 3.75rem )) {
  .map {
    margin-bottom: clamp( 1.875rem , 1.222826087rem  +  4.0760869565vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 1.222826087rem  +  4.0760869565vw , 3.75rem )) {
  .map {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 16rem) / 46);
  }
}
.map__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 49.599em) {
  .map__container {
    flex-direction: column;
  }
}
.map__cont {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  padding-right: 10px;
}
.map__cont span {
  color: #FF6B00;
}
.map__cont-list li {
  margin-bottom: 15px;
}
.map__cont-title {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
}
@supports (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .map__cont-title {
    font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.1rem , 0.6764705882rem  +  2.6470588235vw , 2rem )) {
  .map__cont-title {
    font-size: calc(1.1rem + 0.9 * (100vw - 16rem) / 34);
  }
}
.map__cont-social {
  padding-bottom: 30px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
